/****************** side menu *******************/
/*ul {
  padding-left: 20px; /* Indentation for the brick tree */
}*/

 /*.w3-sidebar{
 	float: left;
	 height:100%;
	 width:250px;
	 z-index:1;
	 overflow:auto;
     padding: 1em;
	 background-color:#AAFFCC;
	 position: fixed
 }
 .w3-container{
 	margin-left:300px;
 	background-color:#fff;
 	z-index:1;
 	overflow:auto}
*/




/******************** for the instructions */
/* where the images are */
 nav {
     float: right;
     width: 60%; /*300px;*/
     margin: 0;
     margin-left: 20px;
     padding: 1em;
     text-align:center;
     vertical-align: middle;
 }
/* where the instruction text is */
 article {
     max-width: 600px;
     /*border-left: 1px solid gray;*/
     padding: 1em;
     overflow: hidden;
 }
img.instr {
	margin: 10px;
}

stepimg {
	max-width:100%;
	max-height:100%;
}

/*
 div.divnav { //The tree and other links
     float: left;
     width: 300px;
     margin: 0;
     margin-left: 0px;
     padding: 1em;
     background-color: lightblue;
 }*/

/******************* for the rest *******************/




table.bomdiv, th, td {
	word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
    border-bottom: 1px solid #ddd;

}
tr:hover {
	background-color: #f5f5f5
	}

table.bomdiv {
	width: 800px;
}



/********************* different backgrounds for headers *************/
div.divbom {
	background-color: #c5c5c5;
	width: 100%;
}
div.divbrickbom {
/*	background-color: #d5d5aa;*/
	width: 100%;
}
div.authordiv {
	background-color: #c5c5c5;
	width: 100%;
}
div.brickdiv {
	background-color: #c5c5c5;
	width: 100%;
}
div.partdiv {
	background-color: #c5c500;
	width: 100%;
}


.hideclass {
  display:none;
}



.pull-right {
  padding-right: 15px;
  padding-left: 0;
/*  border-right: 5px solid #eeeeee;
  border-left: 0;*/
  text-align: right;
}
